<!-- Start Header -->
<div class="wrapper">
    <div class="header header-filter header-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin-top: 25%">
                    <div class="logo-2-header"><center>Not All <span class="logo-1">Franchises</span> Are Created Equally</center></div>
                </div>
                <div class="col-md-12">
                    <div class="header-form" style="margin-bottom: 10%">
                        <div class="row">
                            <form ng-controller="GetQuery" ng-submit="submitForm()">
                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Starbucks, McDonalds, etc..</label>
                                        <input ng-model="form.keyword" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">City, State or Zip..</label>
                                        <input ng-model="form.location" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" ng-click="Submit" href="#!view1" class="btn btn-primary btn-lg"><i class="fa fa-search"></i> Lets Go!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Header -->
