<!-- Big Screen Search Bar -->
<div class="container fixed-top visible-lg visible-md">
    <div class="col-md-12 fixed-top" style="background-color: white;">
        <div class="header-form" style="border: 2px solid purple; margin: 1%; padding-right: 20px">
            <div class="row">
                <form ng-controller="GetQuery" ng-submit="submitForm()">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Starbucks, McDonalds, etc..</label>
                            <input ng-model="form.keyword" type="text" class="form-control">
                        </div>
                    </div>
                    <div ng-controller="updateGeo">
                        <div ng-hide="update[0] || update[0] == 0" class="col-sm-4">
                            <div class="form-group label-floating">
                                <label class="control-label">City, State or Zip..</label>
                                <input id='geoBig' ng-model="form.location" type="text" class="form-control">
                            </div>
                        </div>
                        <div ng-show="update[0]" class="col-sm-4">
                            <div class="form-group label-floating has-success">
                                <label class="control-label">We Found You!</label>
                                <input type="text" ng-model="form.location" disabled placeholder="Found Your Location!" class="form-control" />
                                <span class="form-control-feedback">
			                                <i class="material-icons">done</i>
		                                    </span>
                            </div>
                        </div>
                        <div ng-show="update[0] == 0" class="col-sm-4">
                            <div class="form-group label-floating has-error">
                                <label class="control-label">Uh Oh.. We couldn't find your location!</label>
                                <input ng-model="form.location" placeholder="Please enter location manually!" class="form-control" />
                                <span class="material-icons form-control-feedback">clear</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" id="searchBig" ng-click="Submit" href="#!view1" class="btn btn-primary btn-lg"><i class="fa fa-search"></i> Lets Go!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="visible-lg visible-md" style="margin-bottom: 125px;"></div>
<!-- End Big Screen Search -->

<!-- Small Screen Search -->

<!-- Button -->
<div class="container fixed-top hidden-lg hidden-md">
    <div class="col-md-12 fixed-top" style="background-color: white;">
        <button class="btn btn-lg btn-primary" style="width: 100%" href="" data-toggle="modal" data-target="#search"><i class="fa fa-search"></i> Search Again!</button>
    </div>
</div>
<!-- End Button -->

<!-- Spacer -->
<div class="hidden-lg hidden-md" style="margin-bottom: 80px"></div>
<!-- End Space -->

<!-- Search Popup -->
<div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="closeSearch" name="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Search Again!</h4>
            </div>
            <div class="modal-body">
                <form ng-controller="GetQuery" ng-submit="submitForm()">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Starbucks, McDonalds, etc..</label>
                            <input ng-model="form.keyword" type="text" class="form-control">
                        </div>
                    </div>
                    <div ng-controller="updateGeo">
                        <div ng-hide="update[0] || update[0] == 0" class="col-sm-4">
                            <div class="form-group label-floating">
                                <label class="control-label">City, State or Zip..</label>
                                <input id='geoSmall' ng-model="form.location" type="text" class="form-control">
                            </div>
                        </div>
                        <div ng-show="update[0]" class="col-sm-4">
                            <div class="form-group label-floating has-success">
                                <label class="control-label">We Found You!</label>
                                <input type="text" ng-model="form.location" disabled placeholder="Found Your Location!" class="form-control" />
                                <span class="form-control-feedback">
			                                <i class="material-icons">done</i>
		                                    </span>
                            </div>
                        </div>
                        <div ng-show="update[0] == 0" class="col-sm-4">
                            <div class="form-group label-floating has-error">
                                <label class="control-label">Uh Oh.. We couldn't find your location!</label>
                                <input ng-model="form.location" placeholder="Please enter location manually!" class="form-control" />
                                <span class="material-icons form-control-feedback">clear</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" id="searchSmall" ng-click="Submit" href="" class="btn btn-primary btn-lg"><i class="fa fa-search"></i> Lets Go!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Popup -->

<!-- End Small Screen Search -->


<!-- Find Me -->
<div id="geoPop" class="hide">
    <div id="geo" class="popover-body" ng-controller="geoCtrl">
        <div ng-controller="updateGeo">
            <button ng-show="update[0]" id="findme" style="margin: -10px" class="btn btn-success btn-sm" ng-click="getGeo()"><span class="purp"><i class="fa fa-street-view"></i> FIND ME!</span></button>
            <button ng-hide="update[0]" id="findme" style="margin: -10px" class="btn btn-simple btn-sm" ng-click="getGeo()"><span class="purp"><i class="fa fa-street-view"></i> FIND ME!</span></button>
        </div>
    </div>
</div>

<!-- Big Geo -->
<script type="text/javascript">

    var content = $('[id*="geo"]');

    $(document).on('click', '#geoBig', function() {

        $('#geoBig').popover('show')

    })

    $('#geoBig').popover({
        html: true,
        trigger: 'manual',
        container: 'body',
        placement: 'top',
        content: function () {
            return content.html();
        },
    });

    $(document).on('click', '#findme', function()
    {

        angular.element('#geo').scope().getGeo();
        angular.element('#geo').scope().$apply();
        $('#geoBig').popover('hide')


    });
    $('#searchBig').on('click', function() {

        $('#geoBig').popover('hide')

    })


</script>

<!-- Small Geo -->
<script type="text/javascript">

    var content = $('[id*="geo"]');

    $(document).on('click', '#geoSmall', function() {

        $('#geoSmall').popover('show')

    })

    $('#geoSmall').popover({
        html: true,
        trigger: 'manual',
        container: 'body',
        placement: 'top',
        content: function () {
            return content.html();
        },
    });

    $(document).on('click', '#findme', function()
    {

        angular.element('#geo').scope().getGeo();
        angular.element('#geo').scope().$apply();
        $('#geoSmall').popover('hide')


    });
    $('#searchSmall').on('click', function() {

        $('#geoSmall').popover('hide')

    })


</script>
