<!-- Big Screen Search Bar -->
<div class="container fixed-top visible-lg visible-md">
    <div class="col-md-12 fixed-top" style="background-color: white;">
        <div class="header-form" style="border: 2px solid purple; margin: 1%;">
            <div class="row">
                <form ng-controller="GetQuery" ng-submit="submitForm()">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Starbucks, McDonalds, etc..</label>
                            <input ng-model="form.keyword" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">City, State or Zip..</label>
                            <input ng-model="form.location" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" ng-click="Submit" href="#!view1" class="btn btn-primary btn-lg"><i class="fa fa-search"></i> Lets Go!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="visible-lg visible-md" style="margin-bottom: 125px;"></div>
<!-- End Big Screen Search -->

<!-- Small Screen Search -->

<!-- Button -->
<div class="container fixed-top hidden-lg hidden-md">
    <div class="col-md-12 fixed-top" style="background-color: white;">
        <button class="btn btn-lg btn-primary" style="width: 100%" href="" data-toggle="modal" data-target="#search"><i class="fa fa-search"></i> Search Again!</button>
    </div>
</div>
<!-- End Button -->

<!-- Spacer -->
<div class="hidden-lg hidden-md" style="margin-bottom: 80px"></div>
<!-- End Space -->

<!-- Search Popup -->
<div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="closeSearch" name="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Search Again!</h4>
            </div>
            <div class="modal-body">
                <form ng-controller="GetQuery" ng-submit="submitForm()">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Starbucks, McDonalds, etc..</label>
                            <input ng-model="form.keyword" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">City, State or Zip..</label>
                            <input ng-model="form.location" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" ng-click="Submit" href="" class="btn btn-primary btn-lg"><i class="fa fa-search"></i> Lets Go!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Popup -->

<!-- End Small Screen Search -->

