<div class="container-fluid" ng-controller="ShowGid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h2>{{ gid[0]['name'] }}</h2>
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{'active': active === true}" ng-click="active = !active" class="active"><a href="#section1">Dashboard</a></li>
                <li ng-class="{'active': active === true}" ng-click="active = !active"><a href="#!singleplace">Age</a></li>
                <li ng-class="{'active': active === true}" ng-click="active = !active"><a href="#!singleplace">Gender</a></li>
                <li ng-class="{'active': active === true}" ng-click="active = !active"><a href="#!view1">Geo</a></li>
            </ul><br>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-2">
                    <div class="well">
                        <h4>Cat 1</h4>
                        <h4><i ng-repeat="x in [1, 2, 3, 4, 5]"  style="color: purple" class="fa fa-star"></i></h4>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <h4>Pages</h4>
                        <p>100 Million</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <h4>Sessions</h4>
                        <p>10 Million</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <h4>Bounce</h4>
                        <p>30%</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <h4>Bounce</h4>
                        <p>30%</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <h4>Bounce</h4>
                        <p>30%</p>
                    </div>
                </div>
            </div>
            <div class="well" style="padding-left: 0px">
                <div ng-controller="IsAuth">
                    <div ng-controller="UserUpdate" ng-show="token[0] != null || user_info != null" ng-include="'place/reviewform.html'"></div>
                    <div ng-controller="UserUpdate" ng-hide="token[0] != null || user_info != null" ng-include="'place/reviewholder.html'"></div>
                </div>
            </div>
            <div class="well">
                <h4>Dashboard</h4>
                <li>{{ gid[0]['address'] }}</li>
                <li>{{ gid[0]['phone'] }}</li>
                <li>{{ gid[0]['google_url'] }}</li>
                <li>{{ gid[0]['website'] }}</li>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well">
                        <h4>Users</h4>
                        <p>1 Million</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h4>Pages</h4>
                        <p>100 Million</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h4>Sessions</h4>
                        <p>10 Million</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h4>Bounce</h4>
                        <p>30%</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="well">
                        <p>Text 1</p>
                        <p>Text</p>
                        <p>Text</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <p>Text</p>
                        <p>Text</p>
                        <p>Text</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <p>Text</p>
                        <p>Text</p>
                        <p>Text</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="well">
                        <p>Text</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <p>Text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>