<div class="container-fluid" ng-controller="PlaceDetails">
    <div class="row content">
        <div class="col-sm-3 sidenav" ng-controller="SubMenuCtrl">
            <h2>{{ details[0]['name'] }}</h2>
            <h4 ng-show="details[0]['total_reviews']">Total Reviews: {{ details[0]['total_reviews'] }}</h4>
            <h6><i class="fa fa-map-marker purp"></i> {{ details[0]['address'] }} </h6>
            <h6><i class="fa fa-phone purp"></i> {{ details[0]['phone'] }}</h6>
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{active : activeMenu === 'Overview'}"><a href="" ng-click="activeMenu = 'Overview'; showDiv(1)">Overview</a></li>
                <li ng-class="{active : activeMenu === 'Review Details'}"><a href="" ng-click="activeMenu = 'Review Details'; showDiv(2)">Review Details</a></li>
                <li ng-class="{active : activeMenu === 'Leave Review'}"><a href="" ng-click="activeMenu = 'Leave Review'; showDiv(3)">Leave Review</a></li>
                <li ng-class="{active : activeMenu === 'My Places'}"><a href="" ng-click="activeMenu = 'My Places'; showDiv(4)">Add To My Places</a></li>
            </ul><br>
        </div>
        <div class="col-sm-9">
            <div class="row" ng-show="show == 1" style="align-content: center; margin: 5px">
                <div ng-include="'place/reviewoverview.html'"></div>
            </div>
            <div class="review-box" ng-show="show == 3">
                <div ng-controller="IsAuth">
                    <div ng-controller="UserUpdate" ng-show="token[0] != null || user_info != null" ng-include="'place/reviewform.html'"></div>
                    <div ng-controller="UserUpdate" ng-hide="token[0] != null || user_info != null" ng-include="'place/reviewholder.html'"></div>
                </div>
            </div>
            <div ng-show="show == 2">
                <div ng-include="'place/reviewdetails.html'"></div>
            </div>
            <div ng-show="show == 4">
                <div ng-include="'place/addtoplaces.html'"></div>
            </div>
        </div>
    </div>
</div>